<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ .Title }}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="app">
        <header>
            <a href="/">Logo</a>
        </header>
        <main>
            {{ if .Success }}
                <div class="flash-success">
                    {{ .Success }}
                </div>
            {{ end }}

            {{ if .Errors }}
                <div class="flash-error">
                    {{ range .Errors }}
                        <div>{{ . }}</div>
                    {{ end }}
                </div>
            {{ end }}

            {{ template "content" . }}
        </main>
    </div>
</body>
</html>